.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  scrollbar-width: thin;
}

div.scroll::-webkit-scrollbar {
  width: 1px;
}

div.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px white;
}

div.scroll::-webkit-scrollbar-thumb {
background-color: grey;
}

div.scroll::-webkit-scrollbar {
  height: 1px;
}

div.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px white;
}

div.scroll::-webkit-scrollbar-thumb {
  background-color: grey;
}