<div *ngIf="isAbsolute" style="position: absolute;" class="scroll" [ngStyle]="cssStyles">
  <canvas id="container" ref-container
    style="position: absolute; left: 0; top: 0; z-index: 0;"
    [ngStyle]="cssStyles"></canvas>
  <canvas id="hightlight"
    style="position: absolute; left: 0; top: 0; z-index: 1;"
    [ngStyle]="cssStyles"></canvas>
  <canvas id="cursor"
    style="position: absolute; left: 0; top: 0; z-index: 2;"
    [ngStyle]="cssStyles"></canvas>
</div>
<div *ngIf="!isAbsolute" [ngStyle]="cssStyles">
  <canvas id="container" ref-container
    [ngStyle]="cssStyles"></canvas>
  <canvas id="hightlight" style="position: relative;"
    [style.top.px]="-1 * canvasHeight"
    [ngStyle]="cssStyles"></canvas>
  <canvas id="cursor" style="position: relative;"
    [style.top.px]="-1 * canvasHeight"
    [ngStyle]="cssStyles"></canvas>
</div>
